* {
    
  }
body {
    background: url(../images/background2.jpg) no-repeat center fixed;
    background-size: cover;
}

.jumbotron {
    margin: 10%;
    opacity: 0.75;
    filter: alpha(opacity=60);


}

.display-4 {
    font-family: 'creepster';
    text-shadow: 3px 3px #af111c;
    text-align: center;

}

p {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
   
}
#timer{
    font-family: 'creepster';
    text-shadow: 3px 3px #af111c;
    text-align: center;
}
#quiz, #results {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    text-align: left;
}
